@import "../css/picnic.min";

html, body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

body {
  background: #DE6262;  /* fallback for old browsers */
  background: linear-gradient(to top, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.2em;
}

main {
  position: relative;
  max-width: 900px; margin: 60px auto;
  width: 100%;
  background: #fff;
  padding: 60px;
}

nav {
  position: relative;
  box-shadow: none;
}

.sadfasdf {
  display: none; // used to hide form honeypot field
}

#introduction {
  .other-info {
    align-items: center;
  }
  h1, p.lead {
    padding: 0;
    margin: 0;
  }
  .options {
    display: flex;
    /*justify-content: space-between;*/
    margin-top: 10px;
  }
  .places img {
    width: 40px;
    height: auto;
    margin-left: 10px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "IBM Plex Sans", Helvetica, -apple-system, BlinkMacSystemFont, Aria, sans-serif;
  font-weight: 700;
}

h1 {
  padding-top: 0;
  line-height: 1.2em;
}
h2 {
  padding: 20px 0 0;
}
h3 {
  padding: 0;
}

p {
  line-height: 1.6em;
  padding-bottom: 0.7em;
}

pre {
  text-align: left;
  padding: 0.3em 0.6em;
  background: #f5f5f5;
  border-radius: 0.2em;
  overflow: auto;
  max-width: 100%;
}

code {
  padding: 0.3em 0.6em;
  font-size: 0.85em;
  background: #f5f5f5;
}

pre code {
  display: block;
  white-space: pre;
  background: transparent;
  padding: 0;
}

.highlight {
  overflow-x: auto;
}

.highlight pre {
  overflow-x: auto;
  white-space: pre;
}

.highlight pre code,
.highlight pre code span {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

h1+p, h2+p {
  margin: .4em 0 .9em;
}

 .post-content {
  max-width: 720px;
  margin: 0 auto;
}

.date {
  color: #666;
  font-size: 0.95em;
  margin-bottom: 1.2em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #eee;
}

.post-content article p {
  line-height: 1.75em;
}

.post-content article h2, .post-content article h3, .post-content article h4 {
  margin-top: 1.4em;
}

.post-content article img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.2em auto;
}

.post-content article ul, .post-content article ol {
  margin: 0 0 1em 1.2em;
}

.post-content article blockquote {
  margin: 1em 0;
  padding: 0.6em 1em;
  background: #fafafa;
  border-left: 4px solid rgba(17, 17, 17, 0.2);
}

.flex {
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: calc(100% + 30px);
  flex-wrap: wrap;
  p {
    margin: 0;
  }
}

.flex>* {
  box-sizing: border-box;
  flex: 1 1 auto;
  padding-left: 30px;
  padding-bottom: 30px;
}

.go-back {
  position: absolute; left: 0; top: -55px;
  padding-top: 0; margin-top: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

ul.posts {
  margin: 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  //padding-top: 30px;
  height: 0;
  overflow: hidden;
  background: #000;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

html.portfolio {
  .video-container {
    margin-bottom: 2em;
  }
}

hr {
  border: none;
  background: #000;
  color: #000;
  height: 1px; line-height: 1px;
  margin: 1.5em 0;
}


h3 span.awards {
  float: right;
  em {
    font-style: normal;
  }
}

.badge {
  display: inline-block;
  background: #ccc;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: .8em;
}

@media (max-width: 900px) {
  html.home main {
    margin-top: 20px;
  }
  .go-back {
    left: 20px;
  }
  .post-content {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  main {
    padding: 30px;
  }
  h3 span.awards {
    float: none;
    display: none;
  }
}
@media (max-width: 479px) {
  main {
    padding: 20px;
  }
}
